
.timer	{
	box-sizing: border-box;
  width: 15vw;
  float: right;
	font-family: '7LED';
	font-size: 24pt;
  margin-top: -8rem;
	margin-right: 6rem;
}
	
.content {
  box-sizing: border-box;
  width: 25%;
  height: 80%;
  float: left;
  opacity: 90%;
	z-index: 100;
}

.content_left {
  box-sizing: border-box;
  width: 25%;
  height: 80%;
  float: left;
  margin-left: 20px;
  opacity: 90%;
	z-index: 100;
}

.content_right {
  box-sizing: border-box;
  width: 22vw;
  height: 80%;
  float: left;
  margin-left: 20px;
  opacity: 90%;
	z-index: 100;
}

.cursor {
  box-sizing: border-box;
  width: 2vw;
  height: 80%;
  float: left;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 90%;
}

.service {
  box-sizing: border-box;
  width: 20vw;
  height: 80%;
  float: left;
  vertical-align: bottom;
  margin-left: 0;
  opacity: 90%;
}

.idx {
  box-sizing: border-box;
  width: 7%;
  height: 80%;
  float: left;
}

.idx_left {
  margin-left: 0;
  margin-right: 5rem;  
}

.idx_right {
  margin-left: 0;
  margin-right: 5rem;  
}

.interface {
  width: 100vw;
  height: 100vh;
  margin-left: 2rem;
  font-size: 1.3rem;
  clear: both;
  box-sizing: border-box;
  background: none;
}

.interface_head {
  vertical-align: top;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 15vh;
  width: 100vw;
}

.interface_foot {
  margin-top: 2rem;
  margin-bottom: 1rem;
  vertical-align: bottom;
  height: 10vh;
  width: 100vw;
}

.interface_content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100vw;
	height: 60vh;
	float: left;
}

.highlight {
  background: rgb(235,255,223);
  color: rgb(0, 0, 0);
}
